.Divition {
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    filter: blur(0px);
    /* background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));  */
}
section {
    width: 100%;
    /* height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.sec1 {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding: 10px;
    padding-top: 15vh;
    /* margin: 15vh 0px ; */
}

.sec1 > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px 1%;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    border-radius: 20px;
}

.sec1 > div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    /* border: 1px solid green; */
}
.sec1 > div > .header {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    border-bottom: #dddddd 3px solid;
    padding-right: 3vw;
}
.sec1 > div > .header > h1 {
    font-size: clamp(24px, 1.5vw, 48px); /* يضمن تناسب الحجم مع الشاشات */
    font-weight: 700;
    /* margin: 15px 0; */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* ظل خفيف بدون تشويش زائد */
    color: #dddddd;
    color: #fff;
    color: black;
}

.sec1 > div > ul {
    width: 100%;
    height: 100%;
    padding-right: 4vw;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    list-style-type: decimal;
    overflow: scroll;
    padding-top: 15px;
}
.sec1 > div > ul > li {
    /* border: 1px solid red; */
    margin: 5px 10px;
    font-size: large;
    font-weight: 600;
    font-size: clamp(12px, 1rem, 20px); /* يضمن تناسب الحجم مع الشاشات */
    color: #fff;
    color: black;
    padding-right: 5px;
}

.sec2 {
    width: 100%;
    /* height: 100vh; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    /* padding-top: 15vh; */
}
.sec2 > h2{
    font-size: clamp(24px, 1.5vw, 48px); /* يضمن تناسب الحجم مع الشاشات */
    font-weight: 700;
    /* margin: 15px 0; */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* ظل خفيف بدون تشويش زائد */

    color: black;
}
.sec2 > .Thebrochure{
    width: 100%;
    
    height: auto;
    /* height: 50px; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.sec2 > .Thebrochure > img {
    /* width: 100%; */
    /* height: 10%; */
    /* width: 100px; */
    /* object-fit: cover; */
    width:  calc(30vw + 15vw);
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(153, 153, 153);
    margin: 20px;
}

@media (max-width: 1000px) { 
    .sec1 {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        padding-top: 15vh;
        /* margin: 15vh 0px ; */
    }

    .sec1 > div {
        margin: 2%;
    }


    .sec1 > div > ul {
        overflow-y: scroll;
        padding-top: 0px;
    }
    .sec1 > div > ul > li {
        font-size: clamp(12px, 0.85rem, 20px); /* يضمن تناسب الحجم مع الشاشات */
        margin: 5px;
    } 
    
    .sec2 > .Thebrochure > img {
        width:  calc(80vw + 15vw);
    }
}