.Divition {
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    filter: blur(0px);
    /* background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));  */
    padding: 20px 5px;
}

/* ------------------Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #444444; /* إضافة خلفية لتجنب الشفافية */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 0px 1vw;
    position: relative;
    top: 0;
    z-index: 1000;
}

.sec0 {
    width: 100%;
    /* height: 50vh; */
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    padding: 2% 1%;
    margin-top: 20px;
}

.sec0 > .card {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 15px #f5f5f5;
    /* filter: drop-shadow(0px 0px 10px #808080); */
}
.sec0 > .card > i{
    font-size: 100px;
    color: #464646;
    margin: 10px 0px;
    filter: drop-shadow(0px 0px 10px #808080);
}
.sec0 > .card > h1 {
    font-size: 30px;
    color: tomato;
    filter: drop-shadow(0px 0px 10px #808080);
    margin: 10px 0px;
    text-align: center;
}
.sec0 > .card > p {
    font-size: 20px;
    color: #464646;
    filter: drop-shadow(0px 0px 10px #808080);
    margin: 10px 0px;
    text-align: center;
}
.sec0 > .card > li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.sec0 > .card > li > i{
    font-size: 20px;
    color: #555555;
    margin: 10px 0px;
}
.sec0 > .card > li > span {
    font-size: 20px;
    color: #464646;
    margin: 10px 0px;
}

.sec1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    padding: 2% 0%;
}

.sec1 > h2{
    text-align: center;
    margin: 15px 0px ;
    color: #464646;
    filter: drop-shadow(0px 0px 10px #808080);
    border-top: 2px solid #464646;
    width: 80%;
    border-radius: 20px;
}
.sec1 > .content {
    width: 80%;
    height: 70%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: column; */
    /* padding: 10px; */
}



.sec1 > .content > .contact-info {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding: 0px  10px ;
}




.sec1 > .content > .contact-info > p {
    border-right: 3px solid #464646;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0px 0px 5px #dddddd;
    border-radius: 10px;
    width: 100%;
    margin: 10px auto;
    padding: 20px ;
    text-align: start;
    font-size: clamp(15px , 1vw , 28px);
    
}
.sec1 > .content > .contact-info > p > strong {
    margin-left: 5px ;
    color: #222222;
}
.sec1 > .content > .contact-info > p > a{
    color: #464646;
    text-decoration: underline;
}
.sec1 > .content > .contact-info > p > a:hover{
    letter-spacing: 2px ;
    transform: scale(1.1);
}

.sec1 > .content > .map-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px ;
}

.sec1 > .content > .map-container > iframe {
    width: 100%;
    height: 100%;
    border-right: 3px solid #464646;
    border-bottom: 1px solid #dddddd;
    box-shadow: 0px 0px 15px #464646;
    border-radius: 10px;
}


@media (max-width : 1000px ) {
    .sec1 > .content {
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
        flex-direction: column;
    }

    .sec1 > .content > .contact-info {
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        align-items: center;
        /* justify-content: center; */
        flex-direction: column;
        padding: 0px  10px ;
    }
}