.Divition {
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    filter: blur(0px);
    /* background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));  */
}

/* ------------------Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #444444; /* إضافة خلفية لتجنب الشفافية */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 0px 1vw;
    position: relative;
    top: 0;
    z-index: 1000;
}

.sec1 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: start;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 3% 2%;
}

.sec1 > .btn {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    padding: 0.2% 0%;
}

.sec1 > .btn > button {
    padding: 0.3vw 5vw;
    margin: 0px 1%;
    font-size: clamp(12px, 1.1vw, 35px);
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;

    background-color: #666666;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
}
.sec1 > .btn > button:hover {
    background-color: #444444;
    color: #fff;
    font-weight: 400;
}



.sec1 > .content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1%;
}

.sec1 > .content > .organizers {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


.sec1 > .content > .organizers > .cards {
    width: 100%;
    height: 100%;
    /* max-height: 460px; */
    overflow-y: scroll;
    /* border: 1px solid red; */
    /* margin-top: 5px; */
    padding: 20px;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.sec1 > .content > .organizers  > .cards > .card {
    width: 20%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    transition: transform 0.3s;
}

.sec1 > .content > .organizers  > .cards > .card:hover {
    transform: translateY(-5px);
}

.sec1 > .content > .organizers  > .cards > .card > img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 15px;
}

.sec1 > .content > .organizers  > .cards > .card > h3 {
    color: #333;
    font-size: clamp(18px, 2vw, 22px);
}

.sec1 > .content > .organizers  > .cards > .card > p {
    color: #666;
    font-size: clamp(14px, 1vw, 18px);
}

.sec1 > .content > .organizers  > .cards > .card > a {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.sec1 > .content > .organizers  > .cards > .card > a:hover {
    background-color: #555555;
    color: white;
}


/* ------------- */
.sec1 > .content > .sponsors {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.sec1 > .content > .sponsors > h1 {
    color: #333;
    font-size: clamp(20px, 2vw, 28px);
    margin: 20px 0px;
    width: 100%;
    text-align: start;
    
}

.sec1 > .content > .sponsors > .pars {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 20px; */
    /* border: 1px solid red; */
}

.sec1 > .content > .sponsors > .pars > div {
    width: 100%;
    height: 100%;
    min-height: 460px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    /* border: 1px solid green; */
    margin-bottom: 5px;
}
.sec1 > .content > .sponsors > .pars > div > h1 {
    /* margin: 20px 0px; */
    width: 100%;
    text-align: center;
    background-color: #444444;
    color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    font-size: clamp(18px, 2vw, 22px);
}
.sec1 > .content > .sponsors > .pars > div > .cards {
    width: 100%;
    height: 100%;
    max-height: 460px;
    overflow-y: scroll;
    /* border: 1px solid red; */
    /* margin-top: 5px; */
    padding: 20px;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.sec1 > .content > .sponsors > .pars > div > .cards > .card {
    width: 20%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    transition: transform 0.3s;
    
}

.sec1 > .content > .sponsors > .pars > div > .cards > .card:hover {
    transform: translateY(-5px);
}

.sec1 > .content > .sponsors > .pars > div > .cards > .card > img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: contain;
    margin-top: 15px;
}

.sec1 > .content > .sponsors > .pars > div > .cards > .card > h3 {
    color: #333;
    font-size: clamp(18px, 2vw, 22px);
}

.sec1 > .content > .organizers  > .cards > .card > p {
    color: #666;
    font-size: clamp(14px, 1vw, 18px);
}

.sec1 > .content > .sponsors > .pars > div > .cards > .card > a {
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}

.sec1 > .content > .sponsors > .pars > div > .cards > .card > a:hover {
    background-color: #555555;
    color: white;
}


.abort {
    width: 100%;
    height: 61.2vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.abort > h1 {
    padding: 0.7vw 1.5vw;
    background-color: #444444;
    color: #fff;
    border-radius: 10px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(20px, 2vw, 28px);
}
.abort > h1:hover {
    /* padding: 0.5% 3%; */
    background-color: #444444;
    color: #fff;
    border-radius: 25px;
    transform: scale(1.1);
}


/* ------------- */
.sec1 > .content > .committee {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.sec1 > .content > .committee > div {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    /* border: 1px solid red; */
    border-radius: 10px;
    overflow: hidden;
}

.sec1 > .content > .committee > div > h1 {
    color: #fff;
    font-size: clamp(20px, 2vw, 28px);
    width: 100%;
    text-align: start;
    /* border: 1px solid red; */
    padding: 20px 15px;
    background-color: #444444;
}

.sec1 > .content > .committee > div > .cards {
    width: 100%;
    height: 100%;
    /* max-height: 460px; */
    overflow-y: scroll;
    border: 1px solid #44444483;
    /* margin-top: 5px; */
    padding: 20px;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sec1 > .content > .committee > div > .cards > .card {
    width: 23%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding-top: 15px;
    margin: 10px;
    transition: transform 0.3s;
}
.sec1 > .content > .committee > div > .cards > .card:hover {
    transform: translateY(-5px);
}
.sec1 > .content > .committee > div > .cards > .card > img {
    width: 250px;
    height: 250px;
    /* height: 100%; */
    border-radius: 5px;
    object-fit: fill;
    margin-top: 15px;
    /* border: 1px solid red; */
}
.sec1 > .content > .committee > div > .cards > .card > .data {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
}
.sec1 > .content > .committee > div > .cards > .card > .link {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    padding: 10px;
}
.sec1 > .content > .committee > div > .cards > .card > .link > a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s, color 0.3s;
}
.sec1 > .content > .committee > div > .cards > .card > .link > a:hover {
    background-color: #555555;
    color: white;
}
.sec1 > .content > .committee > div > .cards > .card > p{
    color: #fff;
    font-size: clamp(20px, 2vw, 28px);
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
    padding: 10px;
    background-color: #444444;
    font-size: clamp(14px, 1vw, 18px);
}
@media (max-width : 1500px ) {

    .sec1 > .btn > button {
        padding: 1vw 10vw;
        margin: 0px 1%;
        font-size: clamp(12px, 2vw, 35px);
    }

    .sec1 > .content > .sponsors > .pars > div > .cards > .card {
        width: calc(50% - 20px);
    }

    .sec1 > .content > .organizers > .cards > .card {
        width: calc(50% - 20px);
    }

}


@media (max-width : 1000px ) {

    .sec1 > .btn > button {
        padding: 1vw 10vw;
        margin: 0px 1%;
        font-size: clamp(12px, 2vw, 35px);
    }

    

}

@media (max-width : 700px ) {

    .sec1 > .btn > button {
        padding: 2vw 10vw;
        margin: 0px 1%;
        font-size: clamp(12px, 1.1vw, 35px);
    }
    
    .sec1 > .content > .sponsors > .pars > div > .cards > .card {
        width: 100%;
    }

    .sec1 > .content > .organizers > .cards > .card {
        width: 100%;
    }
    
}