.Divition {
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    filter: blur(0px);
    /* background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));  */
}

/* ------------------Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #444444; /* إضافة خلفية لتجنب الشفافية */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 0px 1vw;
    position: relative;
    top: 0;
    z-index: 1000;
}

.sec1 {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid red; */
    padding: 1%;
}
.sec1 > .content {
    width: 80%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    background-color: #444444;
    border-radius: 10px;
}
.sec1 > .content > form{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    align-items: center;
    /* padding: 0px 10px; */
}
.sec1 > .content > form > input{
    width: 20%;
    padding: 0.3% 1%;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-left: 10px;
    font-size: clamp(14px , 1vw , 16px);
    background-color: #fff;
    text-align: start;
}
.sec1 > .content > form > button{
    /* width: 10%; */
    padding: 0.3% 1.4%;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
    background-color: #fff;
    border-radius: 5px;
    margin-left: 10px;
    font-size: clamp(14px , 1vw , 16px);
    text-align: center;
    cursor: pointer;
}
.sec1 > .content > form > button:hover{
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.5);
    background-color: #888888;
    color: #fff;
}




.table-container {
    width: 100%;
    height: 100%;
    margin: 10px;
     /* تحديد ارتفاع محدد للتمرير */
    overflow-y: auto; /* تفعيل التمرير العمودي */
    /*  تحسين المظهر */
    border: 1px solid #ddd;
    border-radius: 10px;
}

.table-container table {
    width: 100%;
    /* border-collapse: collapse; */
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.table-container thead {
    background: #888888; /* لون خلفية للهيدر */
    position: sticky;
    top: 0;
    z-index: 2;
}
.table-container thead th , .table-container tbody td{
    color: #fff;
}

.table-container tbody td:nth-child(2){
    width: 10%;

}
.table-container tbody td a {
    color: #fff;
    background-color: #fff;
    padding: 2% 7%;
    border-radius: 10px;
}
.table-container tbody td > a:hover{
    background-color: #ddd;
}
.sec1 > .content > .pagination{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: none;
    justify-content: center;
    align-items: center;
    /* padding: 0px 10px; */
    margin-top: 10px;
}

.abort {
    width: 100%;
    height: 61.2vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.abort > h1 {
    padding: 0.7vw 1.5vw;
    background-color: #444444;
    color: #fff;
    border-radius: 10px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(20px , 2.5vw , 28px);
}
.abort > h1:hover {
    padding: 0.5% 3%;
    background-color: #444444;
    color: #fff;
    border-radius: 25px;
    transform: scale(1.1);
}