.Divition {
    width: 100%;
    /* height: 100vh; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    filter: blur(0px);
    /* background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));  */
}

/* ------------------Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: #444444; /* إضافة خلفية لتجنب الشفافية */
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    padding: 0px 1vw;
    position: relative;
    top: 0;
    z-index: 1000;
}

.sec1 {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid red; */
    padding: 2% 0%;
}
.sec1 > .content {
    width: 80%;
    height: auto;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.sec1 > .content > .buttons {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec1 > .content > .buttons > button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5% 5%;
    background-color: #444444;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.1rem;
}

.sec1 > .content > .buttons > button:hover {
    background-color: #222222;
}

.sec1 > .content > .buttons > button:focus {
    background-color: #222222;
}

.sec1 > .content > .forms {
    width: 100%;
    /* border: 1px solid blue; */
    /* height: 100%; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #444444;
    margin-top: 2px;
}

.sec1 > .content > .forms > .instructions {
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 20px;
}
.sec1 > .content > .forms > .instructions > h2 {
    font-size: clamp(20px, 1.1vw, 38px); /* يضمن تناسب الحجم مع الشاشات */
    color: #fff;
    padding: 0.5% 0%;
    margin: 0px;
    width: 100%;
    text-align: start;
    /* border: 1px solid red; */
}

.sec1 > .content > .forms > .instructions > p {
    font-size: clamp(18px, 0.75vw, 30px); /* يضمن تناسب الحجم مع الشاشات */
    color: #fff;
    padding: 0.5% 1%;
    margin: 0px;
    width: 100%;
    text-align: start;
    /* border: 1px solid red; */
}

.sec1 > .content > .forms > .instructions > ul {
    margin: 0px;
    width: 100%;
    text-align: start;
    /* border: 1px solid red; */
}
.sec1 > .content > .forms > .instructions > ul > li {
    font-size: clamp(13px, 0.7vw, 27px); /* يضمن تناسب الحجم مع الشاشات */
    color: #fff;
    margin: 0px;
    margin: 0.8% 3%;
    width: 100%;
    text-align: start;
    /* border: 1px solid red; */
}

.sec1 > .content > .forms > .instructions > ul > li > a {
    color: cadetblue;
    text-decoration: underline;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin: 0px 5px;
}
.sec1 > .content > .forms > .instructions > ul > li > a:hover {
    color: rgb(150, 251, 255);
}

/* -------- */

.sec1 > .content > .forms > .howToSubmit {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 20px;
}
.sec1 > .content > .forms > .howToSubmit > h2 {
    font-size: clamp(20px, 1.1vw, 38px); /* يضمن تناسب الحجم مع الشاشات */
    color: #fff;
    padding: 0.5% 0%;
    margin: 0px;
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
}
.sec1 > .content > .forms > .howToSubmit > p {
    font-size: clamp(18px, 0.75vw, 30px); /* يضمن تناسب الحجم مع الشاشات */
    color: #fff;
    padding: 0.5% 1%;
    margin: 0px;
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
}

.sec1 > .content > .forms > .howToSubmit > a {
    color: cadetblue;
    text-decoration: underline;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin: 0px 5px;
}
.sec1 > .content > .forms > .howToSubmit > a:hover {
    color: rgb(150, 251, 255);
}

.sec1 > .content > .forms > .howToSubmit > video {
    width: 70%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 20px;
}


/* -------------------------------------------------------- */
.sec1 > .content > .forms > .cmt3Link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    padding: 20px;
}
.sec1 > .content > .forms > .cmt3Link > h2 {
    font-size: clamp(20px, 1.1vw, 38px); /* يضمن تناسب الحجم مع الشاشات */
    color: #fff;
    padding: 0.5% 0%;
    margin: 0px;
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
}
.sec1 > .content > .forms > .cmt3Link > p {
    font-size: clamp(18px, 0.75vw, 30px); /* يضمن تناسب الحجم مع الشاشات */
    color: #fff;
    padding: 0.5% 1%;
    margin: 0px;
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
}
.sec1 > .content > .forms > .cmt3Link > a {
    color: cadetblue;
    text-decoration: underline;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.1rem;
    margin: 0px 5px;
}
.sec1 > .content > .forms > .cmt3Link > a:hover {
    color: rgb(150, 251, 255);
}


@media (max-width: 1000px) {
    .sec1 > .content {
        width: 100%;
        height: auto;
        /* border: 1px solid blue; */
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }

    .sec1 > .content > .buttons {
        width: 100%;
        height: auto;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sec1 > .content > .buttons > button {
        width: 80vw;
        margin: 5px 0px;
        border-radius: 10px;
    }

    .sec1 > .content > .buttons > button:hover {
        background-color: #222222;
    }

    .sec1 > .content > .buttons > button:focus {
        background-color: #222222;
    }

    .sec1 > .content > .forms > .instructions {
        padding: 10px;
    }
    .sec1 > .content > .forms > .instructions > h2 {
        font-size: clamp(18px, 1vw, 30px); /* يضمن تناسب الحجم مع الشاشات */
        margin-top: 20px;
        margin-bottom: 5px;
    }

    .sec1 > .content > .forms > .instructions > p {
        font-size: clamp(13px, 0.75vw, 20px); /* يضمن تناسب الحجم مع الشاشات */
    }

    .sec1 > .content > .forms > .instructions > ul > li {
        font-size: clamp(13px, 0.5vw, 20px); /* يضمن تناسب الحجم مع الشاشات */
        color: #fff;
        margin: 0px;
        margin: 0.5% 3%;
        width: 100%;
        text-align: start;
        /* border: 1px solid red; */
    }

    .sec1 > .content > .forms > .howToSubmit {
        padding: 10px;
    }
    .sec1 > .content > .forms > .howToSubmit > h2 {
        font-size: clamp(20px, 1vw, 33px); /* يضمن تناسب الحجم مع الشاشات */
    }
    .sec1 > .content > .forms > .howToSubmit > p {
        font-size: clamp(15px, 0.65vw, 20px); /* يضمن تناسب الحجم مع الشاشات */
    }
    
    .sec1 > .content > .forms > .howToSubmit > a {
        font-size: 1rem;
    }

    
    .sec1 > .content > .forms > .howToSubmit > video {
        padding: 5px;
        width: 100%;
        height: fit-content;
    }
}

@media (max-width: 500px) {
}
